body, html {
  max-width: 1140px;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: #FFFEF8;
}

header {
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
}
header div h1 {
  font-family: "Syne";
  font-weight: 800;
  color: #B1663C;
  margin-bottom: -20px;
}
header div p {
  font-family: "Work Sans";
  text-transform: uppercase;
  color: #93532F;
  letter-spacing: 0.05em;
}
header nav {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
header nav a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.presentation {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin: 50px auto 90px;
}
.presentation img {
  width: 474px;
}
.presentation div {
  width: 400px;
}
.presentation div h1 {
  font-family: "Syne";
  color: #1D6154;
}
.presentation div p {
  font-family: "Work Sans";
  font-size: 14px;
}

.mes-projets {
  width: 100%;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-evenly;
  align-items: center;
}
.mes-projets h1 {
  font-family: "Syne";
  color: #1D6154;
}
.mes-projets .categories button {
  box-sizing: border-box;
  padding: 7px 10px;
  border-radius: 15px;
  border: 1px solid #1D6154;
  font-family: "Syne";
  color: #1D6154;
  font-weight: 600;
  background-color: white;
}
.mes-projets .categories button:hover {
  cursor: pointer;
  color: white;
  background-color: #64c98e;
}
.mes-projets .card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5px 15px;
}
.mes-projets .card-container .card {
  display: flex;
  flex-direction: column;
}
.mes-projets .card-container .card img {
  width: 200px;
  display: block;
}
.mes-projets .card-container .card p {
  font-family: "Work Sans";
  color: #3D3D3D;
  font-size: 13px;
  margin-top: 0;
}

.contact {
  width: 100%;
  margin: 0 auto;
}
.contact div {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.contact div h1 {
  font-family: "Syne";
  color: #1D6154;
  margin-bottom: 5px;
}
.contact div p {
  font-family: "Work Sans";
  color: #3D3D3D;
}
.contact form {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Work Sans";
  color: #3D3D3D;
  font-size: 16px;
}
.contact form div {
  width: 379px;
  display: flex;
  flex-direction: column;
}
.contact form div label, .contact form div input {
  display: block;
}
.contact form div input, .contact form div textarea {
  width: 379px;
}
.contact form div input {
  margin-bottom: 30px;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  height: 51px;
}
.contact form div label {
  align-self: flex-start;
}
.contact form div textarea {
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  border: none;
  resize: none;
}
.contact form button {
  box-sizing: border-box;
  padding: 7px 10px;
  border-radius: 15px;
  border: none;
  font-family: "Work Sans";
  color: white;
  background-color: #1D6154;
  margin-top: 50px;
  width: 179px;
}
.contact form button:hover {
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  header {
    flex-direction: column;
    font-size: 2rem;
  }
  header nav {
    gap: 40px;
  }
  header nav a {
    font-size: 2rem;
  }
  .presentation {
    display: flex;
    flex-direction: column;
    width: 700px;
  }
  .presentation img {
    width: 100%;
    margin: 0 auto;
    margin-bottom: -10px;
  }
  .presentation div {
    width: 90%;
    padding: 20px;
    height: 100%;
  }
  .presentation div h1 {
    font-size: 3rem;
  }
  .presentation div p {
    font-size: 1.5rem;
  }
  .mes-projets h1 {
    font-size: 3rem;
  }
  .mes-projets .categories {
    gap: 20px;
  }
  .mes-projets .categories button {
    font-size: 1.5rem;
  }
  .mes-projets .card-container {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
  }
  .mes-projets .card-container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mes-projets .card-container .card img {
    background-color: red;
    min-width: 350px;
  }
  .mes-projets .card-container .card p {
    font-size: 1.6rem;
    margin-top: 0px;
  }
  .contact {
    width: 100%;
    margin: 50px auto 70px;
  }
  .contact div h1 {
    font-size: 3rem;
  }
  .contact div p {
    font-size: 1.5rem;
  }
  .contact form {
    font-size: 2rem;
  }
  .contact form div {
    width: 70%;
  }
  .contact form div input, .contact form div textarea {
    width: 100%;
  }
  .contact form button {
    width: 40%;
    font-size: 2rem;
  }
}/*# sourceMappingURL=homepage.css.map */